.todo {
  border: 1px solid var(--primary-black);
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 3rem;
  margin-bottom: 1.7rem;
  cursor: pointer;

  .main {
    width: 100%;
    display: flex;

    & img {
      margin-right: 2rem;
      width: 2rem;
    }

    .text {
      font-size: 1.7rem;
    }
  }

  .toggleMenuIcon {
    width: 0.5rem;
    cursor: pointer;
  }
}

.completed {
  filter: opacity(55%);

  & .text {
    text-decoration: line-through;
  }
}

.appModalActive {
  filter: none;
}
