.todo {
  border: 1px solid var(--primary-black);
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 3rem;
  margin-bottom: 1.7rem;
  position: relative;

  .main {
    width: 100%;
    display: flex;

    & img {
      margin-right: 2rem;
      width: 2rem;
    }

    .text {
      font-size: 1.7rem;
      cursor: pointer;
      width: 100%;
    }

    .pendingIcon {
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .toggleMenuIcon {
    padding: 0.4rem 1rem;
    cursor: pointer;

    & .img {
      width: 2.3rem;
    }

    &:hover {
      transform: scale(1.3);
    }
  }
}

.completed {
  filter: opacity(55%);
  position: static;

  & .text {
    text-decoration: line-through;
  }
}
