@use "../../styles/mixins" as global;

.darkBg {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include global.tablet() {
    width: 90%;
  }
}

.modal {
  width: 65rem;
  height: max-content;
  background-color: white;
  z-index: 10;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem 2rem;

  & .modelHeader {
    color: black;

    & .heading {
      color: black;
    }
  }

  & .inputField {
    width: 100%;
    position: relative;

    & .label {
      margin-bottom: 1rem;
    }

    & .input {
      width: 100%;
      border: 1px solid var(--primary-black);
      height: 4rem;
      padding: 1rem;
      margin-bottom: 0.7rem;
    }

    & .errorMessageContainer {
      display: flex;
      justify-content: center;
    }

    & .inputErrorMessage {
      color: #c24c3d;
      text-align: center;
      font-size: 1.2rem;
      position: absolute;
      top: 6.8rem;
    }
  }
  & .appButton {
    text-align: center;
    height: 4rem;
    font-size: 1.3rem;
  }

  @include global.tablet() {
    width: 100%;
  }
}
