@use "./mixins" as global;

.container {
  max-width: 60%;
  margin: 0 auto;
  margin-top: 4rem;

  @include global.tablet() {
    max-width: 90%;
  }
}

.main {
  display: grid;
  grid-template-rows: max-content auto auto;
  gap: 3rem;

  @include global.tablet() {
    max-width: 100%;
    align-items: center;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: 4.2rem;

  @include global.tablet() {
    width: 100%;
    max-width: 100%;
  }
}

.title {
  font-size: 1rem;

  .mainTitle {
    font-weight: 500;
  }

  .secondaryText {
    font-size: 1rem;

    .author {
      text-decoration: underline;
    }
  }

  @include global.tablet() {
    font-size: 0.9rem;
  }
}

.appModal {
  z-index: 10;
  width: 100%;
  height: 100%;
}

.addTodoBtn {
  width: 11rem;
  height: 100%;
  font-size: 1.2rem;

  .btnTextIcon {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .addTodoIcon {
    width: 1.5rem;
    height: 1rem;
  }

  @include global.tablet() {
    font-size: 0.8rem;
    width: 10rem;
  }
}

.pendingTitle {
  margin-bottom: 2rem;
}

.pendingTodosSection {
  max-height: auto;
  margin-bottom: 2rem;

  & .pendingTodos {
    display: flex;
    flex-direction: column;
  }
}

.pendingTodosSection,
.completedTodosSection {
  @include global.tablet() {
    max-width: 100%;
  }
}
